Here we shall write down the libaries that we have used

pip install scikit-learn
pip install numpy
pip install matplotlib
pip install plotly
pip install tensorflow
pip install seaborn
pip install pandas

